.image {
  position: relative;
  width: 544px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background: white;
}
.center {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 544px;
    height: 30px;
    padding: 10px;
}
.center2 {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    padding: 10px;
}
input {
  width: 544px;
  height: 30px;
}
button {
  position: relative;
  width: 140px;
  height: 40px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.relative {
  position:relative;
  top: 5px;
  left: 824px;
}
span {
  color: blue;
  margin-left: 10px;
}
h1 {
    word-spacing: 10px;
}
